.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  height: 100%;
  background: #151515;
  color: #B0B0B0;
}


.branch {
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  background: #99999941;
  margin: 10px;
  text-align: center;
}

.branches-container {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
}

.column {
  border: 2px solid black;
  padding: 20px;
}