.App {
  font-family: sans-serif;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

body {
  height: 100%;
  background: #151515;
  color: #b8b8b8;
  align-items: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


.branch {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background: rgba(34,34,34,255);
  margin: 10px;
  text-align: center;
  width: 200px;
}

.branch:hover{
  background: #99999941;
}

.branches-container {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
}

.error {
  color: red;
}

.back-button {
  cursor: pointer;
  background: #151515;
  border: none;
  color: #b8b8b8;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home > form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  color: #b8b8b8;
  background-color: #151515;
  padding: 10px;
  width: 400px;
  border: none;
  border-bottom: 2px solid #b8b8b8;
}

input:focus{
  outline: none;
}

.description {
  display: flex;
  flex-direction: column;
}

.column {
  padding: 20px;
}

.submit-button {
  background: #99999941;
  border: none;
  color: #B0B0B0;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}